<div class="player">
<iframe type="text/html" width="100%" height="360"
        src="https://www.youtube.com/embed/{{selectedVideo.id.videoId}}?autoplay=1&cc_lang_pref=en"
        frameborder="0"></iframe>
</div>

<div class="thumbnail-container">
  {{#each details as |video|}}
    {{#if video.id.videoId}}
      <div class="thumbnail-wrapper" {{on "mouseenter" (action "hoverVideo" video)}} {{on "mouseleave" (action "unhoverVideo")}}>
        <img {{on "click" (action "selectVideo" video)}}  class="thumbnail-image" src="{{video.snippet.thumbnails.medium.url}}"/>
      </div>
    {{/if}}
  {{/each}}
  {{#if highlightedVideo}}
    <div class="thumbnail-description">
      {{{highlightedVideo.snippet.title}}}
    </div>
  {{/if}}
</div>
